<div
  class="footer section"
  style="background-image: url('<%= Rails.application.routes.url_helpers.root_url %>pattern.png');">
  <p>
    Greenhouse | <%= help_email %>
  </p>
  <p>
    Visit greenhouse at <a href="https://greenhouse.directory" target="_blank"> greenhouse.directory </a>
  </p>
</div>
