<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notification</h1>
    <p>Hello Justin,</p>
    <p>The student <%= @loan.borrower.name %> (<%= @loan.borrower.email %>) has not returned the loaner device after seven days of reminders.</p>
    <p>Please follow up with the student to ensure the device is returned.</p>

    <p>View the student info <a href=<%=borrower_path(@borrower)%>>here</a>.</p>

    <p>Jasper's Very Grumpy Robot</p>
  </body>
</html>
