<%# 2 buttons %>

<div class="box" >
  <div class="buttons">
    <a href="/loans/borrow" class="button is-primary">Borrow a Chromebook</a>
    <br/>
    <a href="/loans/return" class="button is-primary">Return your loaner</a>
  </div>
</div>
