<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @borrower.name %>,</h1>
    <p>Your loaner device has been disabled.</p>
    <p>Please return it to the tech office as soon as possible. If you still need a loaner, you can request a new one at that time.</p>
    <p>If you have any questions, please contact support.</p>
    <p>Thank you,</p>
    <p>HUUSD IT Department</p>
  </body>
</html>
