<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @borrower.name %>,</h1>
    <p>Your device has been repaired and is ready for pickup.</p>
    <p>Thank you,</p>
    <p>HUUSD IT Department</p>
  </body>
</html>
