<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @borrower.name %>,</h1>
    <p>This is a reminder to return your borrowed device.</p>
    <p>Please return the device by the due date to avoid being unable to take out loaners in the future.</p>
    <p>Thank you,</p>
    <p>HUUSD IT Department</p>
  </body>
</html>
